.gitattributes !filter !diff
*.key filter=git-crypt diff=git-crypt
eng_notebook.md filter=git-crypt diff=git-crypt
dedoose_data/** filter=git-crypt diff=git-crypt
processed_dedoose_data/** filter=git-crypt diff=git-crypt
dedoose_data.db filter=git-crypt diff=git-crypt
raw_results/** filter=git-crypt diff=git-crypt
results/** filter=git-crypt diff=git-crypt
