.gitattributes !filter !diff
*.key filter=git-crypt diff=git-crypt
eng_notebook.md filter=git-crypt diff=git-crypt
dedoose_data/** filter=git-crypt diff=git-crypt
sample_response.md filter=git-crypt diff=git-crypt
